<%= form_with(model: invoice_client, local: true) do |form| %>
  <% if invoice_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_client.errors.count, "error") %> prohibited this invoice_client from being saved:</h2>

      <ul>
      <% invoice_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :Id_Invoice_Client %>
  </div>

  <div class="field">
    <%= form.label :Cliente, class: "control-label"%>
    <%= form.collection_select :client_id, Client.all, :id, :business_name, prompt: true%>
  </div>

  <h4 class="ml-3">Agregar productos</h4>
  <div class="field" id="add_products">
    <%= form.fields_for :add_products do |add_product_form| %>
      <%= render 'add_product', f: add_product_form %>
    <% end %>
    <div class="links">
      <br>
      <%= link_to_add_association 'Añadir nuevo producto', form, :add_products, class:"btn btn-info ml-5" %>
    </div>


  <div class="actions">
    <%= form.submit "Generar Documento" %>
  </div>
<% end %>
