<p id="notice"><%= notice %></p>

<h1>Invoice Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Id invoice supplier</th>
      <th>Supplier id</th>
      <th>Id product</th>
      <th>Net value</th>
      <th>Brute value</th>
      <th>Iva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_suppliers.each do |invoice_supplier| %>
      <tr>
        <td><%= invoice_supplier.Id_Invoice_Supplier %></td>
        <td><%= invoice_supplier.Supplier_Id %></td>
        <td><%= invoice_supplier.Id_Product %></td>
        <td><%= invoice_supplier.Net_Value %></td>
        <td><%= invoice_supplier.Brute_Value %></td>
        <td><%= invoice_supplier.IVA %></td>
        <td><%= link_to 'Show', invoice_supplier %></td>
        <td><%= link_to 'Edit', edit_invoice_supplier_path(invoice_supplier) %></td>
        <td><%= link_to 'Destroy', invoice_supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Supplier', new_invoice_supplier_path %>
