<p id="notice"><%= notice %></p>

<h1>Invoice Clients</h1>

<table>
  <thead>
    <tr>
      <th>Id invoice client</th>
      <th>Client id</th>
      <th>Id product</th>
      <th>Net value</th>
      <th>Brute value</th>
      <th>Iva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_clients.each do |invoice_client| %>
      <tr>
        <td><%= invoice_client.Id_Invoice_Client %></td>
        <td><%= invoice_client.Client_Id %></td>
        <td><%= invoice_client.Id_Product %></td>
        <td><%= invoice_client.Net_Value %></td>
        <td><%= invoice_client.Brute_Value %></td>
        <td><%= invoice_client.IVA %></td>
        <td><%= link_to 'Show', invoice_client %></td>
        <td><%= link_to 'Edit', edit_invoice_client_path(invoice_client) %></td>
        <td><%= link_to 'Destroy', invoice_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Client', new_invoice_client_path %>
