<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.rol %>
</p>

<p>
  <strong>Arearut:</strong>
  <%= @user.arearut %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
